<%= link_to "Home", index_path, class:"links" %>
<%= link_to "Athletes", athletes_path, class:"links" %>
<%= link_to "News", news_path, class:"links" %>

<h1>Athletes</h1>

<%= link_to 'google.com' do %>
  <div class="box">
    <ul>
      <li>William Bain</li>
      <li>5' 8",150lbs</li>
      <li>Wr,Olb</li>
      <li>Freshman</li>
    </ul>
  </div>
<% end %>


<%= link_to 'google.com' do %>
  <div class="box">
    <ul>
      <li>Ruben Ochoa</li>
      <li>5' 7",130lbs</li>
      <li>Wr,Cb</li>
      <li>Freshman</li>
    </ul>
  </div>
<% end %>

<%= link_to 'google.com' do %>
<div class="box">
  <ul>
    <li>Kyle Goree</li>
    <li>5' 8",205lbs</li>
    <li>Rb,De</li>
    <li>Freshman</li>
  </ul>
</div>
<% end %>

<%= link_to 'google.com' do %>
<div class="box">
    <ul>
      <li>Micah Alleyne</li>
      <li>5' 2",105lbs</li>
      <li>Rb,De</li>
      <li>Freshman</li>
    </ul>
</div>
<% end %>

<%= link_to 'google.com' do %>
<div class="box">
  <ul>
    <li>Austin Rogol</li>
    <li>6' 2",160lbs</li>
    <li>Te,De</li>
    <li>Freshman</li>
  </ul>
</div>
<% end %>

<%= link_to 'google.com' do %>
<div class="box">
  <ul>
    <li></li>
    <li>5' 8",205lbs</li>
    <li>Rb,De</li>
    <li>Freshman</li>
  </ul>
</div>
<% end %>
