<%= link_to "Home", index_path, class:"links" %>
<%= link_to "Athletes", athletes_path, class:"links" %>
<%= link_to "News", news_path, class:"links" %>

<h1>Recruit Football</h1>
<div class="Image_Text">
<%= image_tag("images.jpeg", class:"header_image") %>
<h2>Athletes to watch</h2>
</div>


<%= link_to 'google.com' do %>
  <div class="box">
    <ul>
      <%= image_tag("images.jpeg", class:"h_image") %>
      <li>William Bain</li>
      <li>5' 8",150lbs</li>
      <li>Wr,Olb</li>
      <li>Freshman</li>
    </ul>
  </div>
<% end %>


<%= link_to 'google.com' do %>
  <div class="box">
    <ul>
      <li>Ruben Ochoa</li>
      <li>5' 7",130lbs</li>
      <li>Wr,Cb</li>
      <li>Freshman</li>
    </ul>
  </div>
<% end %>

<%= link_to 'google.com' do %>
<div class="box">
  <ul>
    <li>Kyle Goree</li>
    <li>5' 8",205lbs</li>
    <li>Rb,De</li>
    <li>Freshman</li>
  </ul>
</div>
<% end %>
